* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('contactus.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.contact-section {
    background: rgb(246, 242, 242);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    border-radius: 10px;
}

.contact-info {
    width: 45%;
}

.contact-info h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 40px;
}

.info-list {
    list-style: none;
}

.info-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 24px;
    margin-right: 15px;
}

.details p {
    font-size: 16px;
}

.contact-form {
    width: 45%;
    background: rgb(143, 206, 217);
    padding: 30px;
    border-radius: 10px;
    color: black;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 10px 20px;
    background: rgb(241, 243, 243);
    color: rgb(143, 206, 217);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background: rgb(65, 200, 200);
}
